* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif};
/* menu css*/
.nav-main {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.nav-main a {
  float: left; 
  display: block;
  color: #000000;
  padding: 10px 30px;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
li a:hover {
  background-color: rgb(222, 219, 219);
}

/* slider css*/
.slideshow-container {
  max-width: 100%;
  margin: auto;
}
.prev, .next {  /* botones siguiente y previo*/
  cursor: pointer;
  position: absolute;
  top: 50%;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.dot { /* indicadores debajo de la imagen del slider*/
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active, .dot:hover {
  background-color: #3d3c3cc0;
}

/*opacidad en imagenes, seccion tiendas*/
.container {
  float: left;
  position: relative;
  width: 25%;
}
.middle {
  background-color: #ffffff20;
  transition: .1s ease;
  opacity: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .image {
  opacity: 0.7;
}
/*seccion panoramas*/
.Panoramas{
  float: left;
  width: 20%;
}



